.navBarContainer{
display: flex;
justify-content: space-around;
align-items: center;
border: 2px solid black;
height: 4rem;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: chartreuse;
   /* padding: 0.8rem; */
}